asgiref==3.4.1
brotlipy==0.7.0
certifi==2021.5.30
cffi
chardet
cryptography
Django==3.2.5
django-countries==7.2.1
idna
olefile==0.46
Pillow
psycopg2==2.9.1
pycparser
pyOpenSSL
PySocks
python-dotenv==0.18.0
pytz
requests
six
sqlparse
typing-extensions
urllib3
win-inet-pton
wincertstore==0.2
django-heroku==0.3.1
gunicorn
twilio