{% extends 'base.html' %}
{% load static %}
{% block content %}

	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
				{% if message.level == 25 %}
					<div class="alert  alert-success {{ message.tags }} alert-dismissible w-25 mt-2" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						{{ message | safe }}
					</div>
				{% else %}
					<div class="alert  alert-danger {{ message.tags }} alert-dismissible w-25 mt-2" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						{{ message | safe }}
					</div>
				{% endif %}
			{% endfor %}
		</ul>
	{% endif %}

	<section id="main-3">
		<h4 class="display-4 text-white text-center">Login</h4>

		<form method="post" action="" class="w-50 bg-light p-5" style="margin: 0 auto;">
			{% csrf_token %}
			<div class="form-group">
				<input type="text" class="form-control" name="username" placeholder="Username">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" name="password" placeholder="Password">
			</div>
			<button class="btn btn-success mt-3" type="submit"><strong>Login</strong></button>
		</form>


	</section>
{% endblock %}